<form action="">
   
    <h2>Detalles de Servicio</h2>
    <br>
    <span class="ui-float-label">
        <input id="float-input" type="text" size="30" pInputText> 
        <label for="float-input">Nombre del servicio</label>
    </span>
    <br>
    <span class="ui-float-label">
        <input id="float-input" type="text" size="30" pInputText> 
        <label for="float-input">Descripcion del servicio</label>
    </span>
    <br>
   
    <span class="ui-float-label">
        <input id="float-input" type="number" size="30" pInputText> 
        <label for="float-input">$ Precio del servicio</label>
    </span>
    <br>
    <label for="float-input">Imagen del servicio</label>
    <span class="ui-float-label">
        
        
        <input  type="file" size="30" pInputText>
    </span>
    <br>

    <h3 class="first">Categoria</h3>
<p-dropdown ></p-dropdown>
    <br>
    <br>
    <button pButton type="button" label="Registrar" class="ui-button-rounded"></button>


</form>
