<form action="">
   
    <h2>Detalles de Categoria</h2>
    <br>
    <span class="ui-float-label">
        <input id="float-input" type="text" size="30" pInputText> 
        <label for="float-input">Nombre de la categoria</label>
    </span>
    <br>
    <span class="ui-float-label">
        <input id="float-input" type="text" size="30" pInputText> 
        <label for="float-input">Descripcion de la categoria</label>
    </span>
    <br>
   
    <br>
    <button pButton type="button" label="Enviar" class="ui-button-rounded"></button>
    
</form>