<div class="container row">
    <div class="col-md-12">
        <h1>Subir Imagen</h1>
    </div>
</div>
<br>
<fieldset>
    <div class="form-group">
        <div class="input-group mb-3">
            <div class="custom-file">

                <input type="file" class="custom-file-input" id="inputGroupFile02" multiple="multiple"
                    (change)="onFileChanged($event)">
                <label class="custom-file-label" for="inputGroupFile02">Buscar Imagen</label>
            </div>
            <div class="input-group-append">
                <input type="button" (click)="onUpload()" value="Subir">
            </div>
        </div>
    </div>
</fieldset>

<br>

<hr />
<div class="container row">
    <div class="col-md-12">
        <div *ngIf=message>{{message}}</div>
    </div>
</div>

<div class="container row">
    <div class="col-md-6">
        <input type="text" class="form-control" id="name" placeholder="image name" [(ngModel)]="imageName"
            name="name" />
    </div>
    <div class="col-md-6">
        <input type="button" (click)="getImage()" value="Get Image">

    </div>
</div>

<div class="container row">
    <div class="col-md-12">
        <div *ngIf=retrievedImage>
            <img [src]="retrievedImage">
        </div>
    </div>