<table class="table table-hover text-center">
  <thead>
    <tr>
      <th scope="col">Id servicio</th>
      <th scope="col">nombre</th>
      <th scope="col">precio</th>
      <th scope="col">descripcion</th>
      <th scope="col">categori nombre</th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let s of servService.servicio">
      <td scope="row">{{s.id}}</td>
      <td>{{s.nombre_servicio}}</td>
      <td>{{s.precio_servicio}}</td>
      <td>{{s.descripcion_servicio}}</td>
      <td>{{s.servicio_categoria.nombre}}</td>
      <td> <button><i class="fas fa-edit"></i></button> </td>
      <td><button (click)="data(s,'/servicio/eliminar')"><i class="fas fa-trash-alt"></i></button></td>

    </tr>
  </tbody>
</table>